@import url('https://fonts.googleapis.com/css2?family=Muli');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4981f5 !important;
    color: #fff !important;
}

.container {
    display: flex;
}

ul {
    list-style-type: none;
}

.selected {
    color: #F5DD90;
}

.eliminated {
    color: #F76C5E;
    text-decoration: line-through;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}